{{extend 'layout.html'}}

<div id="title"> </div>
<div id="inputform" class="center">
    <input type="text" name="lastfmuser" id="lastfmuser"></input>
    <input type="button" value="Play" onclick="fetchPlaylist();"/>
</div>

<div id="mb_video">
    <p style="display:none;">Fetching...</p>
    <h3 id="mb_title"></h3>
    <iframe id="mb_player" width="720" height="480" frameborder="0" src="about://blank" allowfullscreen></iframe>
</div>

<script>
// This code loads the IFrame Player API code asynchronously.
var ytList = [];
var i = -1;    // current video index
var current = -1;    // tracks what is playing currently
var tag = document.createElement('script');
tag.src = "http://www.youtube.com/player_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
var ytBaseUrl = 'http://www.youtube.com/embed/';
var ytParams = '?enablejsapi=1&autoplay=1';

// Calls /default/play to fetch ids for Youtube
function fetchPlaylist() {
    var u = $('#lastfmuser').val();
    $('#mb_video > p').show();
    // fetch youtube ids
    $.get("{{=URL(request.application, 'default', 'play.json')}}"+'?lastfmuser='+u,
        function(data) {
            $('#mb_video > p').hide();
            // store array of youtube ids in global var
            ytList = data.yt_list;
            console.log(ytList);
            ++i;
            current = ytList[i].yt_id;
            ytUrl = ytBaseUrl+current+ytParams;
            $('#mb_player').attr('src', ytUrl);
            $('#mb_title').text(ytList[i].title);
        });
}

var ytPlayer; // the youtube player
// this allows us to capture youtube player events
function onYouTubePlayerAPIReady() {
    ytPlayer = new YT.Player('mb_player', {
            events: {
                'onStateChange': onPlayerStateChange,
                'onError':skip
            }    
        });
}

function onPlayerStateChange(state) {
    if (state.data == YT.PlayerState.ENDED)
        skip();
}

// skips to next video
function skip() {
    ++i; current = ytList[i].yt_id;
    $('#mb_title').text(ytList[i].title);
    current = ytList[i].yt_id;
    ytPlayer.loadVideoById(current);
}
</script>
