{{extend 'layout.html'}}

<div id="mb_video">
    <h3 id="mb_title"></h3>
    <iframe id="mb_player" width="720" height="480" frameborder="0" src="about://blank" allowfullscreen></iframe>
</div>
<div id="title">
    <img src="{{=URL(request.application, 'static/images', 'header.png')}}" width="760px" />
</div>
<div id="inputform" class="center">
    <img id="unicorn" src="{{=URL(request.application, 'static/images', 'unicorn.png')}}" width="118px" />
    <input type="text" name="lastfmuser" id="lastfmuser" value='Enter your last.fm username'></input>
    <img id="btn" src="{{=URL(request.application, 'static/images', 'button.png')}}" width="36px" onclick="fetchPlaylist();"/>
</div>

<script>
// This code loads the IFrame Player API code asynchronously.
var ytList = [];
var i = -1;    // current video index
var current = -1;    // tracks what is playing currently
var tag = document.createElement('script');
tag.src = "http://www.youtube.com/player_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
var ytBaseUrl = 'http://www.youtube.com/embed/';
var ytParams = '?enablejsapi=1&autoplay=1';

// Calls /default/play to fetch ids for Youtube
function fetchPlaylist() {
    var u = $('#lastfmuser').val();
    // fetch youtube ids
    $.get("{{=URL(request.application, 'default', 'play')}}"+'?lastfmuser='+u,
        function(data) {
            $('#inputform').hide();
            $('#title').hide();

            // store array of youtube ids in global var
            ytList = JSON.parse(data)['yt_list'];
            // console.log(data);
            ++i;
            current = ytList[i].yt_id;
            ytUrl = ytBaseUrl+current+ytParams;
            $('#mb_player').attr('src', ytUrl);
            $('#mb_title').text(ytList[i].title);
        });
}

var ytPlayer; // the youtube player
// this allows us to capture youtube player events
function onYouTubePlayerAPIReady() {
    ytPlayer = new YT.Player('mb_player', {
            events: {
                'onStateChange': onPlayerStateChange,
                'onError':skip
            }    
        });
}

function onPlayerStateChange(state) {
    if (state.data == YT.PlayerState.ENDED)
        skip();
}

// skips to next video
function skip() {
    ++i; current = ytList[i].yt_id;
    $('#mb_title').text(ytList[i].title);
    current = ytList[i].yt_id;
    ytPlayer.loadVideoById(current);
}
</script>
