{{extend 'layout.html'}}
<h1>Loading...</h1>

<div class="container">
        <iframe width="960" height="640" src="{{='http://www.youtube.com/embed/%s?autoplay=1' % yt_list[0]['yt_id']}}" frameborder="0" allowfullscreen></iframe>
</div>

<script>
// This code loads the IFrame Player API code asynchronously.
var tag = document.createElement('script');
tag.src = "http://www.youtube.com/player_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
</script>
